$themes: map-merge(
    $themes,
    (
        dark:
            map-merge(
                $theme-defaults,
                (
                    background-color: #141414,
                    medium-color: #a8a8a8,
                    text-color: #ececec,
                    action-color: #317ef6,
                    error-color: #ec655a
                )
            )
    )
);

body.th-dark {
    --form-box-border-color-focus: #407091;
    --form-box-shadow-color-focus: #3a698b;
    --form-box-shadow-color-hover: rgba(58, 105, 139, 0.8);
    --light-border-color: rgba(255, 255, 255, 0.08);
    --secondary-background-color: #1c1c1c;
    --selected-item-color: #2463c8;
    --selected-on-secondary-item-color: #2a2a2a;

    .list__item--active .blue-color {
        color: #689ff7;
    }
}
